autoflake==0.6.6
autopep8==1.2.4
codestyle==0.4.3
configparser==3.7.4
Django==2.2.2
django-crispy-forms==1.7.2
django-fontawesome==1.0
django-icons==0.2.1
django-static-fontawesome==5.0.8.1
entrypoints==0.3
flake8==3.7.7
future==0.17.1
gunicorn==19.9.0
mccabe==0.6.1
mysqlclient==1.4.2.post1
pep8==1.5.7
Pillow==6.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.1
PyYAML==5.1.1
South==1.0.2
sqlparse==0.3.0