{% extends "bookings/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% load static %}

    <!--If booking module is active-->

    {% if title == 'Book Patient' %}



        <div class="col">

            <div class="row mx-auto">
                <div class="col">
                    <form class="main-form" method="post">
                        <legend><span class="number">{{ step }}</span> Book Patient</legend>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="submit-row">
                            <input class="btn button" type="submit" value="+ Add">
                        </div>
                    </form>

                </div>

                <div class="col">
                    <form class="main-form" method="post">
                        <legend><span class="number">{{ step }}</span> Book Patient</legend>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="submit-row">
                            <input class="btn button" type="submit" value="+ Add">
                        </div>
                    </form>

                </div>

                <div class="col">
                    <form class="main-form" method="post">
                        <legend><span class="number">{{ step }}</span> Book Patient</legend>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="submit-row">
                            <input class="btn button" type="submit" value="+ Add">
                        </div>
                    </form>

                </div>

            </div>

        </div>



    {% endif %}




    <div class="row text-center mx-auto">

        <!--Registration-->
        <div class="card mb-2 p-2 mx-auto">
            <h1 class="card-header">Patients</h1>
            {% if title == 'Home' %}
                <img src="{% static 'users/logo_and_icons/icons/solid/user-circle.svg' %}" class="card-img icon-lg" alt="patients">
            {% endif %}
            <div class="card-body">
                <a href="{% url 'register-patient' %}" target="_blank"
                            onclick="window.open('{% url 'register-patient' %}',
                                'newwindow',
                                'width=700,height=700');
                                    return false;">
                    <button class="pat-reg btn btn-outline-success submit-btn" type="button" name="button" data-toggle="tooltip" data-placement="bottom" title="Add Patient">
                        <img src="{% static 'users/logo_and_icons/icons/solid/user-plus.svg' %}" class="icon" alt="Add Patient">
                    </button>
                </a>

                <span class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Edit Patient">
                    <img src="{% static 'users/logo_and_icons/icons/solid/user-edit.svg' %}" class="icon" alt="edit">
                </span>
                <a href="{% url 'users:view_patients' %}">
                    <button class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="View Patients">
                        <img src="{% static 'users/logo_and_icons/icons/solid/user-friends.svg' %}" class="icon" alt="view">
                    </button>
                </a>
            </div>
        </div>
        <!--End of Registration-->
        
        <!--Booking-->
        <div class="card mb-2 p-2 mx-auto">
            <h1 class="card-header">Bookings</h1>
            {% if title == 'Home' %}
                <img src="{% static 'users/logo_and_icons/icons/solid/bookmark.svg' %}" class="card-img icon-lg" alt="Bookings">
            {% endif %}
            <div class="card-body">
                <a href="{% url 'bookings:new_session' %}">
                    <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom" title="Book Patient">
				        <img src="{% static 'users/logo_and_icons/icons/solid/user-clock.svg' %}" class="icon">New
			        </button>
                </a>
                <span class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Edit Booking">
                    <img src="{% static 'users/logo_and_icons/icons/solid/pen.svg' %}" class="icon" alt="Edit">
                </span>
                <a href="{% url 'bookings:view_session_all' %}">
                    <span class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="View Bookings">
                        <img src="{% static 'users/logo_and_icons/icons/solid/eye.svg' %}" class="icon" alt="View">View
                    </span>
                </a>
            </div>
        </div>
        <!--End of Booking-->
        
        <!--Update Booking-->
        <div class="card mb-2 p-2 mx-auto">
            <h1 class="card-header">Payments</h1>
            {% if title == 'Home' %}
                <img src="{% static 'users/logo_and_icons/icons/solid/money-check-alt.svg' %}" class="card-img icon-lg" alt="payments">
            {% endif %}
            <div class="card-body">
                <span class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom" title="New Payment">New
                </span>
                <span class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Edit Payment">Edit
                </span>
                <span class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="View Payments">View
                </span>
            </div>
        </div>
        <!--End of Updating Booking-->
        
        <!--Reports and Extras-->
        <div class="card mb-2 p-2 mx-auto">
            <h1 class="card-header">Reports & Extras</h1>
            {% if title == 'Home' %}
                <img src="{% static 'users/logo_and_icons/icons/solid/box-open.svg' %}" class="card-img icon-lg" alt="payments">
            {% endif %}
            <div class="card-body">
                <a href="#" class="btn btn-outline-info">
                    <span data-toggle="tooltip" data-placement="bottom" data-html="true" title="View/Export reports, Add/View Doctors">More...
                    </span>
                </a>
            </div>
        </div>
        <!--End of Reports and Extras-->
    
    </div>

{% endblock %}