{% extends "bookings/base.html" %}
{% block content %}
    {% load static %}
    <div class="row text-center mx-auto">
        <!--Registration-->
        <div class="card mb-2 p-2 m-1">
            <h1 class="card-header">Patients</h1>
            <img src="{% static 'users/logo_and_icons/icons/solid/user-circle.svg' %}" class="card-img icon-lg" alt="patients">
            <div class="card-body">
                <a href="{% url 'register-patient' %}" target="_blank"
                            onclick="window.open('{% url 'register-patient' %}',
                                'newwindow',
                                'width=700,height=700');
                                    return false;">
                    <button class="pat-reg btn btn-outline-success submit-btn" type="button" name="button">
                        <img src="{% static 'users/logo_and_icons/icons/solid/user-plus.svg' %}" class="icon" alt="Add Patient">
                    </button>
                </a>

                <span class="btn btn-outline-danger"><img src="{% static 'users/logo_and_icons/icons/solid/user-edit.svg' %}" class="icon" alt="edit"></span>
                <a href="{% url 'users:view_patients' %}">
                    <span class="btn btn-outline-info"><img src="{% static 'users/logo_and_icons/icons/solid/user-friends.svg' %}" class="icon" alt="view"></span>
                </a>
            </div>
        </div>
        <!--End of Registration-->
        
        <!--Booking-->
        <div class="card mb-2 p-2 m-1">
            <h1 class="card-header">Bookings/Sessions</h1>
            <img src="{% static 'users/logo_and_icons/icons/solid/bookmark.svg' %}" class="card-img icon-lg" alt="Bookings">
            <div class="card-body">
                <span class="btn btn-outline-success"><img src="{% static 'users/logo_and_icons/icons/solid/user-clock.svg' %}" class="icon">Add</span>
                <span class="btn btn-outline-danger"><img src="{% static 'users/logo_and_icons/icons/solid/pen.svg' %}" class="icon" alt="Edit"></span>
                <span class="btn btn-outline-info"><img src="{% static 'users/logo_and_icons/icons/solid/eye.svg' %}" class="icon" alt="View"></span>
            </div>
        </div>
        <!--End of Booking-->
        
        <!--Update Booking-->
        <div class="card mb-2 p-2 m-1">
            <h1 class="card-header">Payments</h1>
            <img src="{% static 'users/logo_and_icons/icons/solid/money-check-alt.svg' %}" class="card-img icon-lg" alt="payments">
            <div class="card-body">
                <span class="btn btn-outline-success">New</span>
                <span class="btn btn-outline-danger">Edit</span>
                <span class="btn btn-outline-info">View</span>
            </div>
        </div>
        <!--End of Updating Booking-->
        
        <!--Reports and Extras-->
        <div class="card mb-2 p-2 m">
            <h1 class="card-header">Reports & Extras</h1>
            <img src="{% static 'users/logo_and_icons/icons/solid/box-open.svg' %}" class="card-img icon-lg" alt="payments">
            <div class="card-body">
                <a href="#" class="btn btn-outline-success">More...</a>
            </div>
        </div>
        <!--End of Reports and Extras-->
    
    </div>
{% endblock %}