{% extends "users/logs_base.html" %}
{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <h1 id="header2">Edit {{ object.patient }} for {{ object.start_date|date:"jS-N-Y" }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="submit-row text-center">
            <a href="{% url 'bookings:session-detail' object.id %}"><span class="btn btn-outline-info">Cancel</span></a>
            <input class="btn button" type="submit" value="Update">
        </div>
        <div class="d-flex align-items-center">
            <small class="text-muted">Waiting...</small>
        <div class="spinner-grow spinner-border-sm text-secondary ml-auto" role="status" aria-hidden="true"></div>
        </div>
    </form>
{% endblock %}